<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href=""></a>
    </div>
    <div class="navbar-collapse collapse">
      <% if signed_in? %>
        <% if is_admin? %>
          <ul class="nav navbar-nav">
            <li>
              <a href="/admin">首页</a>
            </li>
          </ul>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <span>你好，</span>
              <span><%= current_user.name %></span>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/signout">退出</a>
              </li>
            </ul>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
