<div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="title-center">欢迎使用美食街外卖订餐系统！</h1>
      <table class="table table-bordered">
        <tbody>
        <tr>
          <td class="index-analytics">
            <h4>职员总数</h4>
            <h4>
              <%= @my_customers.length %>
            </h4>
          </td>
          <td class="index-analytics">
            <h4>所添加餐馆数</h4>
            <h4>0</h4>
          </td>
          <td class="index-analytics">
            <h4>总菜品数目</h4>
            <h4>0</h4>
          </td>
          <td class="index-analytics">
            <h4>当前餐补额度</h4>
            <h4>0</h4>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>