<!DOCTYPE html>
<html>
<head>
  <title>OrderSystem</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <div class="navbar navbar-default navbar-static-top"></div>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="footer">
      <ul class="breadcrumb">
        <li>
          <span class="gray">美食街外卖订餐系统</span>
        </li>
      </ul>
    </footer>
  </div>
</body>
</html>
